table {
  position:relative;
  top:0px;
  width:100%;
  margin-bottom:18px;
  padding:0;
  border-collapse:separate;
  *border-collapse:collapse;
  font-size:13px;
  border:1px solid #ddd;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

table > hd {
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  height:28px;
}

table > ft {
  position:relative;
  margin-top:10px;
}

.header {
  cursor:pointer;
}

.header:after {
  content:"";
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#000 transparent;
  visibility:hidden;
}

.headerSortUp, table .headerSortDown {
  background-color:rgba(141, 192, 219, 0.25);
  text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
}

.header:hover:after {
  visibility:visible;
}

.headerSortDown:after, table .headerSortDown:hover:after {
  visibility:visible;
  filter:alpha(opacity=60);
  -khtml-opacity:0.6;
  -moz-opacity:0.6;
  opacity:0.6;
}

.headerSortUp:after {
  border-bottom:none;
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  border-top:4px solid #000;
  visibility:visible;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  filter:alpha(opacity=60);
  -khtml-opacity:0.6;
  -moz-opacity:0.6;
  opacity:0.6;
}

.blue {
  color:#049cdb;
  border-bottom-color:#049cdb;
}

.headerSortUp.blue, table .headerSortDown.blue {
  background-color:#ade6fe;
}

.green {
  color:#46a546;
  border-bottom-color:#46a546;
}

.headerSortUp.green, table .headerSortDown.green{
  background-color:#cdeacd;
}

.red{
  color:#9d261d;
  border-bottom-color:#9d261d;
}

.headerSortUp.red, table .headerSortDown.red { 
  background-color:#f4c8c5;
}

.yellow {
  color:#ffc40d;
  border-bottom-color:#ffc40d;
}

.headerSortUp.yellow, table .headerSortDown.yellow{
  background-color:#fff6d9;
}

.orange {
  color:#f89406;
  border-bottom-color:#f89406;
}

.headerSortUp.orange, table .headerSortDown.orange {
  background-color:#fee9cc;
}

.purple {
  color:#7a43b6;
  border-bottom-color:#7a43b6;
}

.headerSortUp.purple, table .headerSortDown.purple {
  background-color:#e2d5f0;
}

table th, table td {
  padding:10px 10px 9px;
  line-height:18px;
  text-align:left;
}

table th {
  padding-top:9px;
  font-weight:bold;
  vertical-align:middle;
  border-bottom:1px solid #ddd;
}

table td {
  vertical-align:top;
}

table th+th, table td+td {
  border-left:1px solid #ddd;
}

table tr+tr td {
  border-top:1px solid #ddd;
}

table tbody tr:first-child td:first-child {
  -webkit-border-radius:4px 0 0 0;
  -moz-border-radius:4px 0 0 0;
  border-radius:4px 0 0 0;
}

table tbody tr:first-child td:last-child {
  -webkit-border-radius:0 4px 0 0;
  -moz-border-radius:0 4px 0 0;
  border-radius:0 4px 0 0;
}

table tbody tr:last-child td:first-child {
  -webkit-border-radius:0 0 0 4px;
  -moz-border-radius:0 0 0 4px;
  border-radius:0 0 0 4px;
}

table tbody tr:last-child td:last-child {
  -webkit-border-radius:0 0 4px 0;
  -moz-border-radius:0 0 4px 0;
  border-radius:0 0 4px 0;
}

.zebra-striped tbody tr.standard:nth-child(odd) td {
  background-color:#e6e6e6;
}

.zebra-striped tbody tr.standard:hover td {
  background-color:#d2d2d2;
}

.zebra-striped tbody tr.error {
  background-color:#FF6666;
}

.zebra-striped tbody tr.error:hover {
  background-color:#FF3030;
}

.zebra-striped tbody tr.error:nth-child(odd):hover td {
  background-color:#FF3030;
}

.zebra-striped tbody tr.error:nth-child(odd) {
  background-color:#FF6666;
}