@(containerForm: Form[ContainerCreateData], monitors: Seq[(String, String)], user: User)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main(user = user) { 
<sectionBody>
  <h1>New Container</h1>
  
  @form(routes.ContainerController.save()) {
  <fieldset>
    @inputText(containerForm("name"), '_label -> "Container name") 
    @inputText(containerForm("index"), '_label -> "Container number (Unique)")
    @inputText(containerForm("temperatureExpected"), 
    '_label -> "Operating container temperature")
    
    @inputText(containerForm("temperatureRange"), 
    '_label -> "Safe temperature range")

    @inputText(containerForm("readFrequency"),
    '_label -> "Read frequency (in seconds)")

    @select(
      containerForm("monitor"), 
      monitors, 
      '_label -> "Monitor", '_default -> "-- Choose a monitor --",
      '_showConstraints -> false
    )

  </fieldset>

  <div class="actions">
    <input type="submit" value="Create this container" class="btn primary"> or 
    <a href="@routes.ContainerController.list()" class="btn">Cancel</a> 
  </div>
  }
</sectionBody>

}
