@(userCreateForm: Form[UserCreateData])(implicit request: RequestHeader)

@import helper._
@import utils._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }
@main(new User(None, "", "", "")) {
<sectionBody>
  <h1>New User</h1>

  @request.flash.get("error").map { msg =>
    <div class="alert alert-error">
      @msg
    </div>
  }

  @form(routes.UserController.create()) {
  <fieldset>
    @inputText(userCreateForm("name_first"),
    '_label -> "Given Name",
    '_showConstraints -> userCreateForm.error("name_first").isDefined)

    @inputText(userCreateForm("name_last"),
    '_label -> "Surname",
    '_showConstraints -> userCreateForm.error("name_last").isDefined)

    @inputText(userCreateForm("email"),
    '_label -> "Email",
    '_showConstraints -> userCreateForm.error("name_email").isDefined)

    <div style="margin-top:40px; margin-bottom:40px">
      @userCreateForm.error("password").map { error =>
        <div> @error.message </div>
      }
      @inputPassword(userCreateForm("password._1"),
      '_label -> "Password",
      '_showConstraints -> userCreateForm.error("password.main").isDefined)

      @inputPassword(userCreateForm("password._2"),
      '_label -> "Verify Password",
      '_showConstraints -> userCreateForm.error("password.confirm").isDefined)
    </div>

    @select(
      userCreateForm("gender"),
      Array("M"->"Male", "F" ->"Female","O"->"Other"),
      '_label -> "Gender", '_default -> "---",
      '_showConstraints -> userCreateForm.error("gender").isDefined)

    @inputDate(userCreateForm("birthday"),
    '_label -> "Date of Birth",
    '_showConstraints -> userCreateForm.error("birthday").isDefined)

    @select(
      userCreateForm("country"),
      htmlTools.countryCodes zip htmlTools.countries,
      '_label -> "Country", '_default -> "---",
      '_showConstraints -> userCreateForm.error("country").isDefined)
  </fieldset>

  <div class="actions">
    <input type="submit" value="Submit" class="btn primary">
    <a href="@routes.ContainerController.list()" class="btn">Cancel</a>
  </div>
  }
</sectionBody>
}
