@(index: Long, containerForm: Form[ContainerEditData], monitors : Seq[(String, String)], user: User)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(user = user) {
<sectionBody>
  <h1>Edit Container Specifications</h1> 
  @form(routes.ContainerController.update(index)) {
  <fieldset> 
    @inputText(containerForm("name"), '_label -> "Container name")
    @inputText(containerForm("temperatureExpected"), 
    '_label -> "Operating container temperature")

    @inputText(containerForm("temperatureRange"), 
    '_label -> "Safe temperature range")
    
    @inputText(containerForm("readFrequency"),
    '_label -> "Read frequency (in seconds)")

    @select(
    containerForm("monitor"), 
    monitors, 
    '_label -> "Monitor", '_default -> "-- Choose a monitor --",
    '_showConstraints -> false
    )
    
  </fieldset>
</sectionBody>
<sectionFooter>  
  <div class="actions">
    <input type="submit" value="Save this container" class="btn primary"> or 
    <a href="@routes.ContainerController.details(index=index)" class="btn">Cancel</a> 
  </div> 
  }
  
  @form(routes.ContainerController.delete(index), 'class -> "topRight") {
  <input type="submit" value="Delete this container" class="btn danger">
  } 
</sectionFooter>
}
  
